<h2>社員一覧</h2>
<ul class="members">
  <!-- Angularテンプレートのforループの構文 -->
  <!-- *ngFor *ngIf ... ディレクティブ(*は構造ディレクティブ) -->
  <!-- (clickなどのイベント) ... イベントバインディング(イベントとコンポネントを紐づける) -->
  <!-- [class.selected] ... クラスバインディング(コンポネントの状態に応じてクラスを付け加える) -->
  <li
    *ngFor="let member of members"
    [class.selected]="member === selectedMember"
    (click)="onSelect(member)"
  >
    <span class="badge">{{ member.id }}</span> {{member.name}}
  </li>
</ul>

<app-member-detail [member]="selectedMember"></app-member-detail>
